<mat-toolbar>
  <button mat-icon-button aria-label="Menu icon"
          (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sudoku Solver</span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer id="drawer" class="example-sidenav" mode="over">
    <h2>Select difficulty:</h2>
    <button class="nav-button" mat-raised-button color="accent" (click)="chooseGame('easy', 0); drawer.toggle()">Easy Game</button>
    <br>
    <button class="nav-button" mat-raised-button color="accent" (click)="chooseGame('med', 0); drawer.toggle()">Med Game</button>
    <br>
    <button class="nav-button" mat-raised-button color="accent" (click)="chooseGame('hard', 0); drawer.toggle()">Hard Game</button>
    <br>
  </mat-drawer>

  <div class="main-content">
    <div class="sudoku-board">
      <mat-grid-list cols="9" rowHeight="1:1" gutterSize="1">
        <div *ngFor="let row of board">
          <mat-grid-tile *ngFor="let square of row">
            <input value="{{square | noZeroes}}"
                   class="sudoku-square-input">
          </mat-grid-tile>
        </div>
      </mat-grid-list>

      <button id="solve-button" mat-raised-button color="primary" (click)="solve()">SOLVE</button>
    </div>
  </div>

</mat-drawer-container>
