.sudoku-board {
  height: 100vh;
  min-width: 500px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

mat-grid-list {
  background: whitesmoke;
  padding-bottom: 0;
}

mat-grid-tile {
  border: 1px solid black;
}

.sudoku-square-input {
  width: 100%;
  background: whitesmoke;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border: none;
}
#solve-button, #stop-button {
  font-size: 3em;
  padding: 10px;
}

.nav-button, #solve-button, #stop-button {
  width: 90%;
  margin: 1% 5%;
}

.nav-switch-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#solve-button {
  margin-top: 2%;
}

.main-content {
  height: 90vh;
}

h2 {
  padding: 10%;
  font-size: 2em;
}

#drawer {
  width: 15%;
  min-width: 200px;
}
